<div style="align-items: center;display: flex;">
    <!-- <button mat-icon-button class="example-icon" aria-label="icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button> -->

    <img src="assets/img/logo.png" alt="Horizon Store" class="primary-logo" width="80px" (click)="goToHomePage()">
</div>

<div style="display: flex; gap: 20px;">
    <button mat-button (click)="goToHomePage()">Home</button>
    <button mat-button (click)="goToProductList()">Shop</button>
    <button mat-button>Our Story</button>
    <button mat-button>Blog</button>
    <button mat-button>Contact Us</button>
</div>

<div class="login-section">
    <mat-icon>person</mat-icon>
</div>